{% extends 'base.html' %}

{% block title %}Products{% endblock %}

{% block content %}
    <h1>Products</h1>
    <div class="card-deck">
        {% for product in products %}
        <div class="card">
            <img src="{{ product.image }}" class="card-img-top" alt="product_image">
            <div class="card-body">
                <h5 class="card-title">{{ product.name }}</h5>
                <p class="card-text"><strong>Category:</strong> {{ product.category.name }}</p>
                <p class="card-text"><strong>Price:</strong> {{ product.price }}</p>
                <a href="{% url 'product_view' product.id %}" class="btn btn-primary">View Details</a>
            </div>
        </div>
        {% endfor %}
    </div>
{% endblock %}
